<form (ngSubmit)="onSubmit()" [formGroup]="createUserForm">
    <p-panel [header]="header" class="center">
        <div class="card border-round">
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup w-full">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <span class="p-float-label">
                            <input type="name" id="name" name="name" formControlName="name" pInputText>
                            <label for="name">Name</label>
                        </span>
                    </div>

                    <div *ngIf="createUserForm.get('name')?.invalid &&
                            createUserForm.get('name')?.errors &&
                            (createUserForm.get('name')?.dirty || createUserForm.get('name')?.touched)">
                        <small [ngStyle]="{color:'#ef9a9a'}" *ngIf="createUserForm.get('name')?.hasError('required')">
                            This field is required.
                        </small>

                    </div>
                </div>
                <div class="field col">
                    <div class="p-inputgroup w-full">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <span class="p-float-label">
                            <input type="surname" id="surname" name="surname" formControlName="surname" pInputText>
                            <label for="surname">Surname</label>
                        </span>
                    </div>

                    <div *ngIf="createUserForm.get('surname')?.invalid &&
                            createUserForm.get('surname')?.errors &&
                            (createUserForm.get('surname')?.dirty || createUserForm.get('surname')?.touched)">
                        <small [ngStyle]="{color:'#ef9a9a'}"
                            *ngIf="createUserForm.get('surname')?.hasError('required')">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="field col">
                <div class="p-inputgroup w-full">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <span class="p-float-label">
                        <input type="email" id="email" name="email" formControlName="email" pInputText>
                        <label for="email">Email</label>
                    </span>
                </div>

                <div *ngIf="createUserForm.get('email')?.invalid &&
                        createUserForm.get('email')?.errors &&
                        (createUserForm.get('email')?.dirty || createUserForm.get('email')?.touched)">
                    <small [ngStyle]="{color:'#ef9a9a'}" *ngIf="createUserForm.get('email')?.hasError('required')">
                        This field is required.
                    </small>
                    <small [ngStyle]="{color:'#ef9a9a'}" *ngIf="createUserForm.get('email')?.hasError('email')">
                        This field must be a valid email.
                    </small>
                </div>
            </div>
            <div class="field col">
                <div class="p-inputgroup w-full">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <span class="p-float-label">
                        <p-password inputName="password" class="w-8" [toggleMask]="true" [feedback]="false"
                            inputStyleClass="input-password" #password formControlName="password"
                            styleClass="p-password p-component p-inputwrapper p-input-icon-right">
                        </p-password>
                        <label for="password">Password</label>
                    </span>
                </div>

                <div *ngIf="createUserForm.get('password')?.invalid &&
                    createUserForm.get('password')?.errors &&
                    (createUserForm.get('password')?.dirty || createUserForm.get('password')?.touched)">
                    <small [ngStyle]="{color:'#ef9a9a'}" *ngIf="createUserForm.get('password')?.hasError('required')">
                        This field is required.
                    </small>
                    <small [ngStyle]="{color:'#ef9a9a'}" *ngIf="createUserForm.get('password')?.hasError('pattern')">
                        This field must be at least eight characters long, at least one uppercase letter, one
                        lowercase letter, one number and one special character.
                    </small>
                </div>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="flex justify-content-between flex-wrap card-container purple-container">

                <button *ngIf="!primaryButton.hide" class="p-button-primary p-button-outlined p-button-sm" pButton
                    type="submit" [label]="primaryButton.label" [disabled]="!createUserForm.valid"
                    [loading]="submitIsLoading"></button>

                <button *ngIf="!secondaryButton.hide" class="p-button-secondary p-button-text p-button-sm" pButton
                    [label]="secondaryButton.label" (click)="secondaryButton.function(router)"></button>
            </div>

        </ng-template>
    </p-panel>
</form>